page-createpin {
	.keyboard{
		position: absolute;
		bottom: 0;
		width: 100%;
	}
	.keyboard ion-col{
		text-align: center;
	    font-size: 30px;
	    height: 65px;
	    background: url(../assets/imgs/dash-bg.jpg) no-repeat center;
    	background-size: cover;
	    color: #fff;
	    border-left: none;
	    border-bottom: none;
	    line-height: 51px;
	}
	.goback{
		color: #fff;
	    background: none;
	    font-size: 20px;
	}
	.keyboard ion-col:active{
	    background: #0082c5;
	}
	.logo{
		margin-top: 8%;
	}
	.logo img{
		margin: 0 auto;
	}
	.pin{
		margin-top: 30px;
	}
	.pin p{
		width: 100%;
	}
	.pin .radio{
		margin: 0 auto;
	}
	.pin span{
		width: 40px;
		height: 40px;
		border-radius: 50%;
		border: 1px solid #00a9ee;
		margin-right: 10px;
		float: left;	
		margin-top:10px;
	}
	.pin span.active{
		background: #00a9ee
	}
}
