<!-- <ion-header>
	<ion-navbar>
		<ion-title text-center>Login</ion-title>
	</ion-navbar>
</ion-header> -->

<!-- <ion-content>
	<div class="logo">
		<img src="assets/img/logo.png" height="120"/>
	</div>

	<form #loginForm="ngForm" novalidate>
		<p ion-text text-center *ngIf="vallogin=== 'empty'" color="yellow" padding-left>
			Incorrect login information!
		</p>
		<ion-list no-lines>
			<ion-item>
				
				<ion-input class="input_login" placeholder="Email" [(ngModel)]="login.username" name="username" type="text" #username="ngModel" required>
				</ion-input>
				<ion-icon name="mail" item-right></ion-icon>
			</ion-item>
			<p ion-text [hidden]="username.valid || submitted == false" color="yellow" padding-left>
				Email is required
			</p>

			<ion-item>
				
				<ion-input class="input_login" placeholder="Password" [(ngModel)]="login.password" name="password" type="password" #password="ngModel" required>

				</ion-input>
				<ion-icon name="lock" item-right></ion-icon>
			</ion-item>
			<p ion-text [hidden]="password.valid || submitted == false" color="yellow" padding-left>
				Password is required
			</p>
		</ion-list>
		<ion-row margin-top margin-bottom>
			<span text-center col-12 class="color_primary" (click)="onForgotpassword()" color="primary">Forgot Password ?</span>
		</ion-row>
		<ion-row responsive-sm margin-top class="customer_width">
			<ion-col>
				<button ion-button full (click)="onLogin(loginForm)" type="submit" block>Login</button>
			</ion-col>
		</ion-row>
		<ion-row responsive-sm class="customer_width">
			<ion-col>
				<button ion-button full (click)="scanCodeLogin()" color="secondary" block>Scan Login</button>
			</ion-col>
			
		</ion-row>

		<ion-row class="bottom_singup">
		<span text-center col-12 class="color_primary" (click)="onSignup()" color="primary">Do not have an account? Create Account</span>
		</ion-row>
	</form>

</ion-content> -->

<ion-content>
   <div class="logo">
      <img src="/assets/imgs/logo.png" height="120"/>
   </div>
   <form  (ngSubmit)="SubmitForm()">
   		<p class="text-error" ion-text text-center *ngIf="validateform === false" color="yellow" padding-left>
			{{errorlog}}
		</p>
      <ion-list no-lines>
         <ion-item>
            <ion-input class="input_login" placeholder="Email" [(ngModel)]="form.email"  name="email" type="text" required>
            </ion-input>
            <ion-icon name="mail" item-right></ion-icon>
         </ion-item>
         <ion-item>
            <ion-input class="input_login" placeholder="Password" [(ngModel)]="form.password"  name="password" type="password" required>
            </ion-input>
            <ion-icon name="lock" item-right></ion-icon>
         </ion-item>
      </ion-list>
      <ion-row margin-top margin-bottom>
         <span text-center col-12 class="color_primary" (click)="onForgotpassword()" color="primary">Forgot Password ?</span>
      </ion-row>
      <ion-row responsive-sm margin-top class="customer_width">
         <ion-col>
            <button ion-button full type="submit" block>Login</button>
         </ion-col>
      </ion-row>
      <ion-row class="bottom_singup">
         <span text-center col-12 class="color_primary" (click)="onSignup()" color="primary">Do not have an account? Create Account</span>
      </ion-row>
   </form>
</ion-content>