// Styles for all of the user pages:
// Login, Signup, Support

page-login {
  .logo {
    padding: 20px 0;
    min-height: 200px;
    text-align: center;
    margin-top:40px;
    img {
      max-width: 250px;
    }
  }
   .text-error{
    color: #FFEB3B;
  }
  .list {
    margin-bottom: 0;
  }

  .input_login::-moz-placeholder {
      color: white !important;
    }

    .input_login:-ms-input-placeholder {
      color: white !important;
    }

    .input_login::-webkit-input-placeholder {
      
      color: white !important;
    } 

  .input_login{
    padding: 3px 10px;
    color: #fff;
  }
  .toolbar-title-ios{
    color: #fff;
  }
  .button-md,.button-ios{
      background: #4CAF50;
      height: 45px;
      border-radius: 50px;
   }
   .list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child, .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child{
    border:none !important;
    box-shadow: none !important;
   }
   .content-md,.content-ios{
    background: url('../assets/imgs/background.jpeg') center;
    position: relative;
   }
   .content-md::before,.content-ios::before {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      content: '';
      background: rgba(10, 114, 154, 0.9);
  }
  .item-md,.item-ios{
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 40px;
    margin-bottom: 15px;
  }
  .label-md-primary, .item-input .label-md-primary,.label-ios-primary, .item-input .label-ios-primary, .item-select .label-md-primary, .item-datetime .label-md-primary{
    color: #fff;
  }
  .item-label-stacked .text-input-md,.item-label-stacked .text-input-ios, .item-label-floating .text-input-md{

    color: #fff;
  }

  .color_primary{
    color: #efefef;
  }
  .item-input-has-focus .label-md[stacked], .input-has-focus .label-md[stacked], .item-input-has-focus .label-md[floating], .input-has-focus .label-md[floating]{
    color: #fff;
  }
  ion-list {
      width: 80%;
      margin: 0 auto !important;
  }

  .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
    box-shadow: none;
  }
  .item-md.item-input.item-input-has-focus .item-inner, .item-md.item-input.input-has-focus .item-inner{
    box-shadow: none;
  }
  ion-icon{
    color: #fff;
  }
  .customer_width{
    width: 70%;
    margin: 0 auto;
  }
  .bottom_singup{
    bottom: 0px;
    height: 45px;
    width: 100%;
    line-height: 36px;
    text-align: center;
  }
  .form_change_password{
    margin-top:140px;
  }
  .list-md .item-block .item-inner{ border: none; }
  .list-md .item-input:last-child{
    border-bottom: none;
  }
  .text-input::-moz-placeholder {
    color: white;
  }

  .text-input:-ms-input-placeholder {
    color: white;
  }

  .text-input::-webkit-input-placeholder {
    text-indent: 0;
    color: white;
  }
  .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
    border:none;
    box-shadow: none;
  }
  .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus):last-child{
    border: none;
    box-shadow: none;
  }
  .list-md .item-input.item-input-has-focus:last-child, .list-md .item-input.input-has-focus:last-child{
    border: none;
    box-shadow: none;
  }
}
.toolbar-title-ios,.bar-button-default-ios{
    color: #fff;
}
/*.color_primary{
  color: color($colors, primary);
}*/