page-deposit {
	.border{
		border:1px solid #eee;
	}
	.text_description{
		padding: 10px 20px;
	    line-height: 22px;
	    color: #4c4c4c;
	    position: relative;
	    z-index: 99999;
	}
	.mywallet{
		margin-top: -20px;
		width: 100%;
		float: left;
		position: relative;
		z-index: 9999;
	}
	.qr-scanner-img{
		margin-top: -54px;
	    position: relative;
	    z-index: 1;
    	display: block;
	    width: 64%;
	    margin: 0 auto;
	}
	.pending{
		text-transform: capitalize;
		
		font-weight: bold;
		opacity: 0.6;
	}
	.border-tab{
		border:1px solid #eee;
	    border-radius: 12px;
	}
	.border-tab.active{
		background: url(../assets/imgs/dash-bg.jpg) no-repeat center;
    	background-size: cover;
	}
	.border-tab.active h3{
		color: #fff;
	}
	.card-header-md{
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.label-md{
		margin: 0px;
	}

	.card-header{
		padding-left: 5px;
	}
	.card-content{
		padding: 0px;
	}

	.history .iconstatus{
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background: #FFC107;
	    margin-top: 3px;
	    margin-right: 12px;
	    float: left;
	}
	.history  span{
	    line-height: 18px;
	    color: #353535;
	    font-size: 16px;
	}
	
	.history .amount{
		font-size: 22px;
    	font-weight: bold;
	}
	.history .date_added{
		font-size: 14px;
		color: #8c8888;
	}
	.history .txtid{
		font-size: 13px;
	    background: #f5f5f5;
	    padding: 10px;
	    border-radius: 5px;
	}
	.finish_withdraw{
		background: #4caf50 !important;
	}
	
}
