<ion-header>

  <ion-navbar>
  	<!-- <button  float-left class="icon-back">
      <ion-icon  name="arrow-back" (click)="goback()"></ion-icon>
    </button> -->
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
	<ion-title float-left text-center>Reffral</ion-title>
    
  </ion-navbar>

</ion-header>


<ion-content>
	<ion-refresher (ionRefresh)="doRefresh($event)">
    	<ion-refresher-content></ion-refresher-content>
  	</ion-refresher>
	<ion-card>
		<ion-card-header>
	        <ion-card-title>Qrcode add member</ion-card-title>
	    </ion-card-header>
	    <ion-card-content>
			<ion-grid>
				<ion-row text-center>
					<ion-col col-12 text-center>
						<img class="qr-scanner-img"   src="https://chart.googleapis.com/chart?chs=200x200&cht=qr&chl=customer:{{customer_id}}_{{email}}" />
					</ion-col>
				</ion-row>
				
			</ion-grid>
		</ion-card-content>
	</ion-card>
	<div class="clear_div"></div>
	<ion-card>
		<ion-card-header style="">
	        <ion-card-title>List member</ion-card-title>
	    </ion-card-header>
	    <ion-card-content style="padding: 5px;">
	    	<ion-list>
			  <ion-item *ngFor="let item of history" style="border-bottom: 1px solid #eee;" [ngClass]="{'none-active- email': item.active_email === 0}">
			    <ion-avatar item-start>
			      <img src="{{item.img_profile}}">
			    </ion-avatar>
			    <h2>{{item.email}}</h2>
			    <p style="color: #6d6c6c; font-size: 13px; margin-top: 5px">{{item.date_added}}</p>
			    <button ion-button clear item-end (click)="ViewInfomationUser(item.customer_id)">View</button>
			  </ion-item>
			</ion-list>

			
			<p text-center  *ngIf="count_history == 0">No data</p>
		</ion-card-content>
		<ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="count_history > 0">
		   <ion-infinite-scroll-content></ion-infinite-scroll-content>
		 </ion-infinite-scroll>
		
	</ion-card>
</ion-content>