page-support {
	
	.text_description{
		padding: 10px 20px;
	    line-height: 22px;
	    color: #4c4c4c;
	    position: relative;
	    z-index: 99999;
	}
	.mywallet{
		margin-top: -20px;
		width: 100%;
		float: left;
		position: relative;
		z-index: 9999;
	}
	.qr-scanner-img{
		margin-top: -54px;
	    position: relative;
	    z-index: 1;
    	display: block;
	    width: 64%;
	    margin: 0 auto;
	}
	.pending{
		text-transform: capitalize;
		
		font-weight: bold;
		opacity: 0.6;
	}
	.border-tab{
		border:1px solid #b7b7b7;
		border-top: none;
	}
	.border-tab.active{
		background: #4caf50;
	}
	.border-tab.active h3{
		color: #fff;
	}
	.card-header-md{
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.label-md{
		margin: 0px;
	}
	.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
	    box-shadow: none;
	  }
	  .item-md.item-input.item-input-has-focus .item-inner, .item-md.item-input.input-has-focus .item-inner{
	    box-shadow: none;
	  }
	.item-input .label-md, .item-select .label-md, .item-datetime .label-md {
	    color: #5f5f5f;
	}
	.button-default  {
	    padding: 19px !important;
	    background: #FF5722 !important;
	    margin-top: 22px;
	    width: 80%;
	    margin: 0 auto;
	    border-radius: 20px;
	}
	.text-error{
		color: red;
		margin-top: 10px;
	}
	.card-header{
		padding-left: 5px;
	}
	.card-content{
		padding: 0px;
	}
	.pendding-row{
		background: #ffeb3b54;
	}
	form .border{
		border-radius: 5px;
	}
	form ion-label{
		font-size: 14px;
	}

	.history .iconstatus{
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background: #FFC107;
	    margin-top: 3px;
	    margin-right: 12px;
	    float: left;
	}
	.history  span{
	    line-height: 18px;
	    color: #353535;
	    font-size: 16px;
	}
	
	.history .amount{
		font-size: 22px;
    	font-weight: bold;
	}
	.history .date_added{
		font-size: 14px;
		color: #8c8888;
	}
	.history .txtid{
		font-size: 13px;
	    background: #f5f5f5;
	    padding: 10px;
	    border-radius: 5px;
	}
	.finish_withdraw{
		background: #4caf50 !important;
	}
	.input-wrapper .label{
		font-size: 16px;
	}
	.border.input , .border.textarea{
		border-bottom: 1px solid #eee !important;
		border-radius: 5px !important;
		margin-bottom: 20px;
		padding: 5px 15px;
	}
	.item-input{
		padding-left: 5px !important;
	}
	.list-md .item-input:last-child{
		border: none;
	}
	.list-md .item-input.item-input-has-focus:last-child, .list-md .item-input.input-has-focus:last-child{
		border: none !important;
		box-shadow: none !important;
	}
	ion-grid.grid:last-child{
		border-bottom: none !important;
	}
	.list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block{
		border: none;
	}
	.list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child, .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child{
		border:none !important;
		box-shadow: none !important;
	}
}
