page-change-password {
	.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
		border-bottom: 1px solid #eee;
		box-shadow: none;
	}
	.text-error{
		color: red;
	}
	 .button-default {
	    padding: 19px !important;
	    background: #FF5722 !important;
	    margin-top: 22px;
	    width: 80%;
	    margin: 0 auto;
	    border-radius: 20px;
	}
	.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
	    box-shadow: none;
	  }
	  .item-md.item-input.item-input-has-focus .item-inner, .item-md.item-input.input-has-focus .item-inner{
	    box-shadow: none;
	  }
	ion-input{
	    border-bottom: 1px solid #eee;
	    margin-top: 5px;
	    padding: 5px 10px;
	    border-radius: 5px;
	}
	.item-ios{
      margin-bottom: 15px;
    }
	.item-inner{
		border: none !important;
	}
	ion-label{
		font-size: 16px !important;
	}
	.text-input::-moz-placeholder {
	  color: #222;
	}

	.text-input:-ms-input-placeholder {
	  color: #222;
	}

	.text-input::-webkit-input-placeholder {
	  text-indent: 0;
	  color: #222;
	}
	.item-input-has-focus .label-md[stacked], .input-has-focus .label-md[stacked], .item-input-has-focus .label-md[floating], .input-has-focus .label-md[floating]{
		color: #4CAF50
	}
}
