// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.profile_menu{
	text-align: center;
} 
.profile_menu::before {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    background: url(../assets/imgs/dash-bg.jpg) no-repeat center;
    background-size: cover;
}
.profile_menu p{
    color: #fff;
    z-index: 99999;
    position: relative;
}
.profile_menu img{
	
  width: 100px;
  margin:0 auto;
  z-index: 99999;
  height: 80px;
  position: relative;
}


.toolbar-background{
  background: url(../assets/imgs/dash-bg.jpg) no-repeat center;
  background-size: cover;
    
  color: #fff;
}
.toolbar-title{
  color: #fff;
}
.icon-back{
    background: none;
    font-size: 18px;
    width: 35px;
    color: #fff;
}
.card-title{  
      font-size: 18px !important;
}
 button.item-ios:not([detail-none]) .item-inner{
  background: none;
 }

 .label-ios {
   
    font-size: 16px;
}
.back-button-icon-ios {
    margin: -1px 0 0;
    display: inherit;
    min-width: 18px;
    font-size: 20px;
    font-weight: 400;
    padding: 0 10px;
}
.back-button-icon-md {
    margin: 0;
    padding: 0 0px;
    text-align: left;
    text-align: start;
    font-size: 22px;
    font-weight: normal;
    
}
.toolbar-title-md {
    
  font-size: 18px;
    
}
.back-button-md{
  min-width: 0px;
}
.card-ios {
    margin: 5px;
    width: calc(100% - 10px);
  }
.card-header-ios{
  padding: 5px;
}
.item-md{
  color: #191818;
}
.toolbar-title-md {
    font-size: 17px;
}
.alert-md .alert-button-group{
  padding: 0px;
}
.alert-md .alert-button{
      padding: 12px 0;
}
.alert-md .alert-button:last-child .button-inner{
  font-weight: bold;
}
.searchbar-md .searchbar-input {
    padding: 6px 55px;
    border-radius: 2px;
    background-position: left 8px center;
    height: auto;
    font-size: 1.6rem;
    font-weight: 400;
     line-height: 22px; 
    color: #141414;
    background-color: #fff;
    /* -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); */
    /* box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); */
    border: 4px solid #cdcdcd;
    box-shadow: none;
}
.toggle-ios-secondary.toggle-checked .toggle-icon,.toggle-md-secondary.toggle-checked .toggle-inner{
    background-color: #00a2ee;
}
.toggle-md-secondary.toggle-checked .toggle-icon{
  background: rgba(0, 162, 238, 0.6);
}
.ion-md-menu:before,.ion-ios-menu:before{
  color: #fff;
}