// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.profile_menu{
	text-align: center;
}
.profile_menu::before {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    background: #4CAF50;
}
.profile_menu p{
    color: #fff;
    z-index: 99999;
    position: relative;
}
.profile_menu img{
	border-radius: 50%;
  width: 80px;
  margin:0 auto;
  z-index: 99999;
  height: 80px;
  position: relative;
}


.toolbar-background{
  background: #4CAF50;
  color: #fff;
}
.toolbar-title{
  color: #fff;
}
.icon-back{
    background: none;
    font-size: 18px;
    width: 35px;
    color: #fff;
}
.card-title{  
      font-size: 18px !important;
}
 button.item-ios:not([detail-none]) .item-inner{
  background: none;
 }

 .label-ios {
   
    font-size: 16px;
}
.back-button-icon-ios {
    margin: -1px 0 0;
    display: inherit;
    min-width: 18px;
    font-size: 20px;
    font-weight: 400;
    padding: 0 10px;
}
.back-button-icon-md {
    margin: 0;
    padding: 0 0px;
    text-align: left;
    text-align: start;
    font-size: 22px;
    font-weight: normal;
    
}
.toolbar-title-md {
    
  font-size: 18px;
    
}
.back-button-md{
  min-width: 0px;
}