<ion-content>
	<ion-row text-center class="logo">
		<img src="assets/imgs/logo.png" height="80"/>
	</ion-row>

	<ion-row text-center class="pin">
		<p>Please Enter Pin</p>
		<div class="radio" text-center>
			<span *ngIf="codeone == null"></span>
            <span *ngIf="codeone != null" class="active"></span>
            <span *ngIf="codetwo == nul"></span>
            <span *ngIf="codetwo != nul" class="active"></span>
            <span *ngIf="codethree == nul"></span>
            <span *ngIf="codethree != nul" class="active"></span>
            <span *ngIf="codefour == nul"></span>
            <span *ngIf="codefour != nul" class="active"></span>
		</div>
	</ion-row>
	<p ion-text text-center *ngIf="valpin=== 'empty'" color="danger" padding-left>
		Pin Fail!
	</p>
	<ion-row class="keyboard">
        <ion-col col-4 (click)="add(1)">
        	1
        </ion-col>
        <ion-col col-4 (click)="add(2)">
        	2
        </ion-col>
        
        <ion-col col-4 (click)="add(3)">
        	3
        </ion-col>
        <ion-col col-4 (click)="add(4)">
        	4
        </ion-col>
        <ion-col col-4 (click)="add(5)">
        	5
        </ion-col>
        
        <ion-col col-4 (click)="add(6)">
        	6
        </ion-col>
        <ion-col col-4 (click)="add(7)">
        	7
        </ion-col>
        <ion-col col-4 (click)="add(8)">
        	8
        </ion-col>
        
        <ion-col col-4 (click)="add(9)">
        	9
        </ion-col>
        
        <ion-col col-4>
        	
        </ion-col>
        <ion-col col-4 (click)="add(0)">
        	0
        </ion-col>
        <ion-col col-4 (click)="delete()">
        	<ion-icon name="backspace"></ion-icon>
        </ion-col>
    </ion-row>
</ion-content>
