<ion-content>
	<ion-row text-center class="logo">
		<img src="assets/img/logo.png" height="80"/>
	</ion-row>

	<ion-row text-center class="pin">
		<p>Please Enter Pin</p>
		<div class="radio" text-center>
			<span *ngIf="number1=== 'null'"></span>
			<span *ngIf="number1 != 'null'" class="active"></span>
			<span *ngIf="number2=== 'null'"></span>
			<span *ngIf="number2 != 'null'" class="active"></span>
			<span *ngIf="number3=== 'null'"></span>
			<span *ngIf="number3 != 'null'" class="active"></span>
			<span *ngIf="number4=== 'null'"></span>
			<span *ngIf="number4 != 'null'" class="active"></span>
		</div>
	</ion-row>
	<p ion-text text-center *ngIf="valpin=== 'empty'" color="danger" padding-left>
		Pin Fail!
	</p>
	<ion-row class="keyboard">
        <ion-col col-4 (click)="Clicknumber(1)">
        	1
        </ion-col>
        <ion-col col-4 (click)="Clicknumber(2)">
        	2
        </ion-col>
        
        <ion-col col-4 (click)="Clicknumber(3)">
        	3
        </ion-col>
        <ion-col col-4 (click)="Clicknumber(4)">
        	4
        </ion-col>
        <ion-col col-4 (click)="Clicknumber(5)">
        	5
        </ion-col>
        
        <ion-col col-4 (click)="Clicknumber(6)">
        	6
        </ion-col>
        <ion-col col-4 (click)="Clicknumber(7)">
        	7
        </ion-col>
        <ion-col col-4 (click)="Clicknumber(8)">
        	8
        </ion-col>
        
        <ion-col col-4 (click)="Clicknumber(9)">
        	9
        </ion-col>
        
        <ion-col col-4>
        	
        </ion-col>
        <ion-col col-4 (click)="Clicknumber(0)">
        	0
        </ion-col>
        <ion-col col-4 (click)="Blackspace()">
        	<ion-icon name="backspace"></ion-icon>
        </ion-col>
    </ion-row>
</ion-content>
