<!--
  Generated template for the SupportDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Support Detail</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
	<ion-refresher (ionRefresh)="doRefresh($event)">
    	<ion-refresher-content></ion-refresher-content>
  	</ion-refresher>
	<ion-card>
		<ion-card-content>
			<h1 style="padding: 5px; margin-bottom: 15px;">{{history.subject}}</h1>

			<ion-row class="border-bottom">
	          	<ion-col col-3>
	          		<img class="img_profile_support" src="{{img_profile}}">
	          		<p style="color: #5f5d5d; font-size: 14px;" text-center>Mine</p>
	          	</ion-col>
	          	<ion-col col-9 class="message_support">
          			<p style="margin-bottom: 20px;">{{history.message}}</p>
          			<p class="date_support right" text-right>{{history.date_added}}</p>
	          	</ion-col>
	        </ion-row>

	        <ion-row *ngFor="let item of history.reply; "  class="border-bottom">
	          	<ion-col col-3 *ngIf="item.user_id != 'admin'">
	          		<img class="img_profile_support" src="{{img_profile}}">
	          		<p style="color: #5f5d5d; font-size: 14px;" text-center>Mine</p>
	          	</ion-col>
	          	<ion-col col-9 *ngIf="item.user_id != 'admin'" class="message_support">
          			<p style="margin-bottom: 20px;"  [innerHTML]="item.message"></p>
          			<p class="date_support right" text-right>{{item.date_added}}</p>
	          	</ion-col>


	          	<ion-col col-9 text-right *ngIf="item.user_id == 'admin'" class="message_support">
          			<p style="margin-bottom: 20px;" [innerHTML]="item.message"></p>
          			<p class="date_support left" text-left>{{item.date_added}}</p>
	          	</ion-col>
	          	<ion-col col-3 *ngIf="item.user_id == 'admin'">
	          		<img class="img_profile_support" src="assets/imgs/logo.png">
	          		<p style="color: #5f5d5d; font-size: 14px;" text-center>Admin</p>

	          	</ion-col>
	        </ion-row>
	    </ion-card-content>
	</ion-card>
	<div class="clear_div"></div>	
	<ion-card>
		<ion-card-content>
	    
	    	<form (ngSubmit)="SubmitForm()" style="margin-top: 20px;">
	 			<ion-list>
				  <ion-item >
				    <ion-label stacked>Reply</ion-label>
				    <ion-textarea class="border" [(ngModel)]="form.content" name="content" rows="5"  ></ion-textarea>
				  </ion-item>

				</ion-list>
				<ion-row>
					<ion-col >
						<button ion-button full>Send</button>
					</ion-col>
				</ion-row>
			</form>
	    </ion-card-content>
	</ion-card>
	<div class="clear_div"></div>
</ion-content>
